/* CSS HEX */
:root {
    --moonstone: #0fa3b1ff;
    --timberwolf: #e4dfdaff;
    --yinmn-blue: #3e536dff;
    --imperial-red: #e54b4bff;
    --pigment-green: #4aad52ff;
}

/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */